*{
    padding: 0px;
    font-family:sans-serif;
}
header{
    height: 100px;
    width: 80%;
}
header h1{
    font-size: medium;
}
header ul{
    list-style: none;
    float: right;
    margin-top: 0px;
}
header ul button{
   background-color: red;
    padding: 5px 20px;
}
header ul a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}
.con{
    display:flex;
    width: 70%; 
    height: 350px;
 }
 #Tech{
     width: 40%;
     margin: 30px;
 }
 #Seven{
     width: 70%;
     padding-left: 0px;
    
 }
.con h2{
    color: black;
    font-weight: 100;
}
.con h3{
    color: red;
    font-size: larger;
}
.con p{
    color: black;
    font-stretch: semi-condensed;
    clear: right;
}
.con img{
   width: auto; 
   height: 200px;
}
.Orient{
    display: flex;
    height: 350px;
}
#STO{
    width: 40%;
    height: 350px;
} 
#Five{
    float: right;
    width: 40%;
    height: 250px;
    padding: 20px 0px 10px 30px;
  ;
}
.Board{
    width: 80%;
    height: 350px;
    display: flex;
    
}
.meeting{
    width: 50%;
    height: 350px;
}
.meeting  h3,p,a{
    padding: 20px;
}
#Two{
    width: 50%;
    float: right;
}
#Two img{
    height: 300px;
}
.Graduation{
    display: flex;
    width: 80%;
    height: 250px;
}
.Day{
    width: 50%;
}
.Party{
    float: right;
    width: 50%;
}
.Party h3 p a{
    padding: 20px;
}
.Graduation img{
    height: 250px;
}
.Sub{
    height: 350px;
}
.mentors{
    display: flex;
    width: 80%;
    padding: 0px;
   
}
.mentors h4{
    color: black;
    bottom: 10px;
}
.mentors p{
    font-size: small;
}
.Sub h2{
    font-size: small;
}
#Rose{
    height: 320px;
}

#Albert{
    height: 320px;
}
#Raphael{
    height: 320px;
   
}
#Karimi{
    height: 320px;
    
}
.Bic{
 display: flex;
 width: 80%;
 margin-top: 30px;
}
.Textbox{
    width: 50%;
    
}
.Textbox p span{
    color: rgb(160, 48, 7);
}
.Nine img{
height: 300px;
}
  
.BIC img{
padding: 15px;
margin: 280px;
margin-top: 20%
}
.In h3{
color: rgb(223, 22, 22);

    }











   





